@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);

.frame {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 400px;
    margin-top: -200px;
    margin-left: -200px;
    border-radius: 2px;
        box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
        overflow: hidden;   
    background-image: linear-gradient(45deg, #43389F, #4EC6CA); /* 45deg is equal to top right, same direction  */
    color: #FFFFFF;
        font-family: 'Courier New', Helvetica, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
}

.center {
    display: flex;
    flex-direction: column;   
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.numbers{ 
    text-align: center;
    font-weight: 700;   /*Grossura da letra*/
    font-size: 100px;
    line-height: 0.7;
}

.big{
    text-align: center;
    font-weight: 700;   /*Grossura da letra*/
    font-size: 80px;
    line-height: 0.7;

}

.small{
    text-align: center;
    font-size: 24px;
    font-weight: 700; 
}